extends index

block title
	title Final Project - Index

block content
	body
		#header
			.header-content-container
				h1 The 10 Most Recent Tweets containing "#CSC365"
		#content-container
			.tweet-container 
				img.bird-dude-container(src='/images/logo.png')
				.text-container 
					a(href=`/tweet/${id_0}`) #{tweet_0}
			.tweet-container
				img.bird-dude-container(src='/images/logo.png') 
				.text-container 
					a(href=`/tweet/${id_1}`) #{tweet_1}
			.tweet-container
				img.bird-dude-container(src='/images/logo.png')
				.text-container
					a(href=`/tweet/${id_2}`) #{tweet_2}
			.tweet-container 
				img.bird-dude-container(src='/images/logo.png')
				.text-container 
					a(href=`/tweet/${id_3}`) #{tweet_3}
			.tweet-container 
				img.bird-dude-container(src='/images/logo.png')
				.text-container 
					a(href=`/tweet/${id_4}`) #{tweet_4}
			.tweet-container
				img.bird-dude-container(src='/images/logo.png') 
				.text-container 
					a(href=`/tweet/${id_5}`) #{tweet_5}
			.tweet-container 
				img.bird-dude-container(src='/images/logo.png')
				.text-container 
					a(href=`/tweet/${id_6}`) #{tweet_6}
			.tweet-container
				img.bird-dude-container(src='/images/logo.png') 
				.text-container 
					a(href=`/tweet/${id_7}`) #{tweet_7}